<img
  (click)="getDescription(description)"
  [src]="image"
  [alt]="title"
  class="img-fluid h-50 w-75"
/>
<h3 appHighlight>{{ title | uppercase }}</h3>

<h3 *ngIf="InProduct">{{ description }}</h3>

<button *ngIf="available" class="btn btn-primary">Voir produits</button>
<a [routerLink]="['/products']" [queryParams]="{ id: id }">
  <button class="btn btn-primary" *ngIf="available">Voir produits2</button>
</a>
<button class="btn btn-primary" (click)="sendNotif()">Send Notif</button>
<button class="btn btn-primary" (click)="ShortListDetails()">
  {{ btnText }}
</button>
<button class="btn btn-danger" *ngIf="InProduct" (click)="deleteProduct()">
  Delete
</button>
<!-- Add Edit Button -->
<button class="btn btn-warning" *ngIf="InProduct" (click)="editProduct()">
  Edit
</button>
