<div class="container">
  <div class="row">
    <p>La date est : {{ myDate | date : "dd-MM-yyyy " }}</p>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="find"
        placeholder="Titre catégorie"
        [(ngModel)]="titre"
      />
    </div>

    <div
      *ngFor="let category of categories | contains : titre : 'title'"
      class="col-md-4"
      style="margin-bottom: 20px"
    >
      <img
        (click)="getDescription(category.description)"
        [src]="category.image"
        [alt]="category.title"
        class="img-fluid h-50 w-75"
      />
      <h3 appHighlight>{{ category.title | uppercase }}</h3>

      <button *ngIf="category.available" class="btn btn-primary">
        Voir produits
      </button>
      <a [routerLink]="['/products']" [queryParams]="{ id: category.id }"
        ><button class="btn btn-primary" *ngIf="category.available">
          Voir produits2
        </button></a
      >
      <span *ngIf="!category.available">Catégorie non disponible</span>
    </div>
  </div>
</div>
